{% extends 'base.html' %}
{% block content  %}
<form action="" method="post">
    {% csrf_token %}
    <label for="username">Логин</label>
    <input type="tel" name="username" id="username" placeholder="Введите Логин" required>
    <label for="password">Пароль</label>
    <input type="password" name="password" id="password" placeholder="Введите пароль" minlength="6" required>
    <button type="submit">Войти</button>
    <p> У вас нет аккаунта? - <a href="{% url 'register' %}">Зарегистрироваться</a></p>
</form>

{% endblock %}
